<div class="container" style="background-color: white; border-width: 2px; border-radius: 5px; border-color: cornflowerblue; border-style: solid; padding-top: 10px; padding-bottom: 15px; margin-bottom: 20px;">
  <h1>Wedstrijden</h1>
  <div class="btn-group btn-group-toggle">
    <label class="btn btn-primary" [ngClass]="{'active': selectedMatchTab === 1}">
      <input type="radio" name="options" [value]="1" [(ngModel)]="selectedMatchTab" (change)="onMatchTabChanged()">Alle wedstrijden
    </label>
    <label class="btn btn-primary" [ngClass]="{'active': selectedMatchTab === 2}">
      <input type="radio" name="options" [value]="2" [(ngModel)]="selectedMatchTab" (change)="onMatchTabChanged()">Jouw wedstrijden
    </label>
  </div>
  <hr class="my-3">
  <div *ngIf="!loggedIn && selectedMatchTab === 2" class="alert alert-warning">
    U moet eerst aangemeld zijn om jouw wedstrijden te kunnen zien!
    <a [routerLink]="['/account/login']" class="alert-link">Aanmelden</a>
    of
    <a [routerLink]="['/account/create']" class="alert-link">Registreer nu</a>
  </div>
  <div class="list-group">
    <a *ngFor="let match of matches" class="list-group-item list-group-item-action flex-column align-items-start" [ngClass]="{'list-group-item-primary': match.type === 'MEN_SINGLE' || match.type === 'MEN_DOUBLE',
                  'list-group-item-info': match.type === 'WOMEN_SINGLE' || match.type === 'WOMEN_DOUBLE',
                  'list-group-item-dark': match.type === 'MIX'}" [routerLink]="['/matches/' + match.id]">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{match.title}}</h5>
        <small>10 minuten bezig...</small>
      </div>
      <div *ngIf="match.type === 'MEN_SINGLE' || match.type === 'WOMEN_SINGLE'" class="row">
        <div class="col-md-5" style="font-weight: bold; text-align: right; font-size: 30px;">
          {{match.player1}}
        </div>
        <div class="col-md-2" style="font-weight: bold; text-align: center; font-size: 15px; display: flex; align-items: center; justify-content: center;">
          VS
        </div>
        <div class="col-md-5" style="font-weight: bold; text-align: left; font-size: 30px;">
          {{match.player2}}
        </div>
      </div>
      <div *ngIf="match.type !== 'MEN_SINGLE' && match.type !== 'WOMEN_SINGLE'" class="row">
        <div class="col-md-5" style="font-weight: bold; text-align: right; font-size: 30px;">
          {{match.player1}}
          <br>{{match.player3}}
        </div>
        <div class="col-md-2" style="font-weight: bold; text-align: center; font-size: 15px; display: flex; align-items: center; justify-content: center;">
          VS
        </div>
        <div class="col-md-5" style="font-weight: bold; text-align: left; font-size: 30px;">
          {{match.player2}}
          <br>{{match.player4}}
        </div>
      </div>
      <div *ngFor="let game of match.games">
        <div style="text-align: center; font-size: 22px">
          {{game.pointsTeam1}} - {{game.pointsTeam2}}
        </div>
      </div>
    </a>
  </div>
</div>