<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand bme-navbar-header" href="#">
    <img class="img-responsive bme-navbar-icon" [src]="websiteIcon" /> {{websiteTitle}}
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto bme-navbar-menu">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/matches']">Wedstrijden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tournaments']">Toernooien</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/competitions']">Competities</a>
      </li>
    </ul>
    <ul class="navbar-nav bme-navbar-menu">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Joran Claessens
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>