<div class="container" style="background-color: white; border-width: 2px; border-radius: 5px; border-color: cornflowerblue; border-style: solid; padding-top: 10px; padding-bottom: 15px; margin-bottom: 20px;">
  <h1>Toernooien</h1>
  <hr class="my-3">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-primary">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Bierset - SMC1</h5>
        <small>5u en 20 minuten bezig...</small>
      </div>
      <p>24/03/2018 - 25/03/2018</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-info">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Bierset - SDC1</h5>
        <small>5u en 20 minuten bezig...</small>
      </div>
      <p>24/03/2018 - 25/03/2018</p>
    </a>
  </div>
</div>