<div *ngIf="match" class="container-fluid" style="background-color: white; border-width: 2px; border-radius: 5px; border-color: cornflowerblue; border-style: solid; padding-top: 10px; padding-bottom: 15px; margin-bottom: 20px;">
  <h1>{{match.title}}</h1>
  <hr class="my-3">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card border-dark mb-3" style="width: 100%; height: 100%;">
        <div class="card-header text-center" style="font-size: 15px; font-weight: bold;">Locatie</div>
        <div class="text-center text-info" style="font-size: 18px; margin-top: 25px;">
          <p>3840 Borgloon</p>
          <p>Oorsprongstraat 4</p>
          <p>Baan 1</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-dark mb-3">
        <div class="card-header">
          <div *ngIf="match.type === 'MEN_SINGLE' || match.type === 'WOMEN_SINGLE'" class="row">
            <div class="col-md-5" style="font-weight: bold; text-align: right; font-size: 30px;">
              {{match.player1}}
            </div>
            <div class="col-md-2" style="font-weight: bold; text-align: center; font-size: 15px; display: flex; align-items: center; justify-content: center;">
              VS
            </div>
            <div class="col-md-5" style="font-weight: bold; text-align: left; font-size: 30px;">
              {{match.player2}}
            </div>
          </div>
          <div *ngIf="match.type !== 'MEN_SINGLE' && match.type !== 'WOMEN_SINGLE'" class="row">
            <div class="col-md-5" style="font-weight: bold; text-align: right; font-size: 30px;">
              {{match.player1}}
              <br>{{match.player3}}
            </div>
            <div class="col-md-2" style="font-weight: bold; text-align: center; font-size: 15px; display: flex; align-items: center; justify-content: center;">
              VS
            </div>
            <div class="col-md-5" style="font-weight: bold; text-align: left; font-size: 30px;">
              {{match.player2}}
              <br>{{match.player4}}
            </div>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            <div style="text-align: center; font-size: 50px">
              {{match.games[match.games.length - 1].pointsTeam1}} - {{match.games[match.games.length - 1].pointsTeam2}}
            </div>
          </h4>
          <div *ngFor="let game of match.games" style="text-align: center; font-size: 15px">
            {{game.pointsTeam1}} - {{game.pointsTeam2}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-dark mb-3" style="width: 100%; height: 100%;">
        <div class="card-header text-center" style="font-size: 15px; font-weight: bold;">Acties</div>
        <div class="card-body" *ngIf="hasAuthority">
          <button type="button" class="btn btn-primary btn-lg btn-block" style="font-size: 12px;" (click)="simulateMatch()">Simuleer wedstrijd</button>
          <button type="button" class="btn btn-warning btn-lg btn-block" style="font-size: 12px;" (click)="editMatch()">Gegevens aanpassen</button>
          <button type="button" class="btn btn-danger btn-lg btn-block" style="font-size: 12px;" (click)="deleteMatch()">Verwijder wedstrijd</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <img [src]="courtImage" style="width: 100%;" />
      <div [ngClass]="{'bottom-left': !match.player1Left, 
                          'top-left': match.player1Left}">
        <button class="btn btn-sm" [ngClass]="{'btn-success': match.serviceTeam1, 'btn-dark': !match.serviceTeam1}" style="font-size: 14px">{{match.player1}}</button>
      </div>
      <div [ngClass]="{'top-right': !match.player2Left, 
                          'bottom-right': match.player2Left}">
        <button class="btn btn-sm" [ngClass]="{'btn-success': !match.serviceTeam1, 'btn-dark': match.serviceTeam1}" style="font-size: 14px">{{match.player2}}</button>
      </div>
    </div>
  </div>
</div>