<div class="container-fluid" style="background-color: white; border-width: 2px; border-radius: 5px; border-color: cornflowerblue; border-style: solid; padding-top: 10px; padding-bottom: 15px; margin-bottom: 20px;">
  <h1>Bierset - Heren enkel C1</h1>
  <hr class="my-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <img [src]="courtImage" style="width: 100%;" />
      <div class="bottom-left">
        <button class="btn btn-sm btn-dark" style="font-size: 14px">Joran Claessens</button>
      </div>
      <div class="top-right">
        <button class="btn btn-sm btn-dark" style="font-size: 14px">Pol Biesmans</button>
      </div>
    </div>
  </div>
</div>