<div *ngIf="errorMessage" class="alert alert-dismissible alert-danger container">
  <button type="button" class="close" data-dismiss="alert" (click)="clearErrorMessage()">&times;</button>
  {{errorMessage.message}}
</div>
<div *ngIf="matchCreated" class="alert alert-dismissible alert-success container">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Wedstrijd succesvol aangemaakt!
  <a [routerLink]="['/matches/' + matchId]" class="alert-link">Ga naar wedstrijd</a>
</div>
<div class="container" style="background-color: white; border-width: 2px; border-radius: 5px; border-color: cornflowerblue; border-style: solid; padding-top: 10px; padding-bottom: 15px; margin-bottom: 20px;">
  <h1>Wedstrijd aanmaken</h1>
  <hr class="my-3">
  <form>
    <fieldset>
      <div class="form-group">
        <label for="matchTitle">Titel</label>
        <input type="text" class="form-control" name="matchTitle" placeholder="Wedstrijd titel" [(ngModel)]="matchTitle">
      </div>
      <div class="form-group">
        <label for="matchType">Type match</label>
        <select class="form-control" id="matchType" [(ngModel)]="selectedMatchType" name="matchTypes">
          <option value="NONE" selected>Kies een type...</option>
          <option value="MEN_SINGLE">Heren enkel</option>
          <option value="WOMEN_SINGLE">Vrouwen enkel</option>
          <option value="MEN_DOUBLE">Heren dubbel</option>
          <option value="WOMEN_DOUBLE">Vrouwen dubbel</option>
          <option value="MIX">Mix</option>
        </select>
      </div>
      <div class="form-group" *ngIf="selectedMatchType !== 'NONE'">
        <label>Spelers</label>
        <div class="row">
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Speler 1" name="speler1" [(ngModel)]="player1">
            <input *ngIf="selectedMatchType === 'MEN_DOUBLE' || selectedMatchType === 'WOMEN_DOUBLE' || selectedMatchType === 'MIX'"
              type="text" class="form-control" placeholder="Speler 3" name="speler3" [(ngModel)]="player3">
          </div>
          <div class="col-md-2" style="display: flex; align-items: center; justify-content: center;">
            VS
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Speler 2" name="speler2" [(ngModel)]="player2">
            <input *ngIf="selectedMatchType === 'MEN_DOUBLE' || selectedMatchType === 'WOMEN_DOUBLE' || selectedMatchType === 'MIX'"
              type="text" class="form-control" placeholder="Speler 4" name="speler4" [(ngModel)]="player4">
          </div>
        </div>
      </div>
      <div style="margin-bottom: 10px;">
        <button class="btn btn-sm btn-info" (click)="createLocation = !createLocation"><i class="fas fa-plus"></i> Locatie toevoegen</button><span> *Optioneel</span>
      </div>
      <div *ngIf="createLocation">
        <div class="form-group">
          <label for="street">Straat + Huisnummer</label>
          <input type="text" class="form-control" name="street" placeholder="Straat + Huisnummer" [(ngModel)]="street">
        </div>
        <div class="form-group">
          <label>Plaats</label>
          <input type="text" class="form-control" name="city" placeholder="Postcode + Gemeente" [(ngModel)]="city">
        </div>
        <div class="form-group">
            <label for="terrainNumber">Terrein nummer</label>
            <input type="text" class="form-control" name="terrainNumber" placeholder="Terrein nummer" [(ngModel)]="terrainNumber">
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="createMatch()">Opslaan</button>
    </fieldset>
  </form>
</div>