<div class="container" style="background-color: white; border-width: 2px; border-radius: 5px; border-color: cornflowerblue; border-style: solid; padding-top: 10px; padding-bottom: 15px; margin-bottom: 20px;">
  <h1>Competitiepartijen</h1>
  <hr class="my-3">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-primary">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heren competitie - 2de provinciale a</h5>
        <small>10 minuten bezig...</small>
      </div>
      <div class="row">
        <div class="col-md-5" style="font-weight: bold; text-align: right; font-size: 30px;">
          't Pluimke
        </div>
        <div class="col-md-2" style="font-weight: bold; text-align: center; font-size: 15px; display: flex; align-items: center; justify-content: center;">
          VS
        </div>
        <div class="col-md-5" style="font-weight: bold; text-align: left; font-size: 30px;">
          Hebad
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="font-weight: bold; text-align: right; font-size: 20px;">
          1
        </div>
        <p style="display: flex; align-items: center; justify-content: center; font-size: 20px;">-</p>
        <div class="col-md-5" style="text-align: left; font-size: 20px;">
          0
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-info">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Vrouwen competitie - 1ste provinciale a</h5>
        <small>32 minuten bezig...</small>
      </div>
      <div class="row">
        <div class="col-md-5" style="font-weight: bold; text-align: right; font-size: 30px;">
          't Pluimke
        </div>
        <div class="col-md-2" style="font-weight: bold; text-align: center; font-size: 15px; display: flex; align-items: center; justify-content: center;">
          VS
        </div>
        <div class="col-md-5" style="font-weight: bold; text-align: left; font-size: 30px;">
          Hebad
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="font-weight: bold; text-align: right; font-size: 20px;">
          2
        </div>
        <p style="display: flex; align-items: center; justify-content: center; font-size: 20px;">-</p>
        <div class="col-md-5" style="font-weight: bold; text-align: left; font-size: 20px;">
          2
        </div>
      </div>
    </a>
  </div>
</div>