<div *ngIf="showNotLoggedIn" class="alert alert-dismissible alert-warning container">
    <button type="button" class="close" data-dismiss="alert" (click)="clearWarningMessage()">&times;</button>
    U moet eerst aangemeld zijn om een wedstrijd, toernooi of competitiepartij te kunnen aanmaken!
    <a [routerLink]="['/account/login']" class="alert-link">Aanmelden</a>
    of
    <a [routerLink]="['/account/create']" class="alert-link">Registreer nu</a>
</div>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Welkom, beste gebruiker!</h1>
        <p class="lead">Op deze website kan je makkelijk wedstrijden, toernooien en competitiepartijen aanmaken en beheren.
        </p>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3 border-dark">
                    <h3 class="card-header bg-primary" style="text-align: center; height: 80px; display: flex; align-items: center; justify-content: center; color: white;">Start een badmintonwedstrijd!</h3>
                    <div class="card-body">
                        <button type="button" class="btn btn-primary btn-lg" style="width: 100%;" (click)="startMatch()">Start wedstrijd</button>
                        <p style="text-align: center; font-size: 25px; margin-top: 10px;">Of</p>
                        <button type="button" class="btn btn-primary btn-lg" style="width: 100%; margin-top: -20px;" (click)="searchMatch()">Zoek wedstrijd</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3 border-dark">
                    <h3 class="card-header bg-warning" style="text-align: center; height: 80px; display: flex; align-items: center; justify-content: center; color: white;">Start een toernooi!</h3>
                    <div class="card-body">
                        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" (click)="startTournament()">Start toernooi</button>
                        <p style="text-align: center; font-size: 25px; margin-top: 10px;">Of</p>
                        <button type="button" class="btn btn-warning btn-lg" style="width: 100%; margin-top: -20px;" (click)="searchTournament()">Zoek toernooi</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3 border-dark">
                    <h3 class="card-header bg-success" style="text-align: center; height: 80px; display: flex; align-items: center; justify-content: center; color: white;">Start een toernooi!</h3>
                    <div class="card-body">
                        <button type="button" class="btn btn-success btn-lg" style="width: 100%;" (click)="startCompetition()">Start competitiepartij</button>
                        <p style="text-align: center; font-size: 25px; margin-top: 10px;">Of</p>
                        <button type="button" class="btn btn-success btn-lg" style="width: 100%; margin-top: -20px;" (click)="searchCompetition()">Zoek competitiepartij</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>