<h2>Actieve wedstrijden</h2>
<div class="row">
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-2">
                <div class="card mb-3 border-warning">
                    <h5 class="card-header bg-warning" style="color: white">Enkel heren C1</h5>
                    <div class="card-body">
                        <p style="text-align: center; font-weight: bold">Joran Claessens (C1)</p>
                        <p style="text-align: center; font-size: 10px;">VS</p>
                        <p style="text-align: center; font-weight: bold">Pol Biesmans (C1)</p>
                        <p style="text-align: center">21-12 9-21 19-18</p>
                        <button type="button" class="btn btn-warning btn-sm" style="width: 100%;">Volg wedstrijd</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card mb-3 border-warning">
                    <h5 class="card-header bg-warning" style="color: white">Enkel heren C1</h5>
                    <div class="card-body">
                        <p style="text-align: center; font-weight: bold">Joran Claessens (C1)</p>
                        <p style="text-align: center; font-size: 10px;">VS</p>
                        <p style="text-align: center; font-weight: bold">Pol Biesmans (C1)</p>
                        <p style="text-align: center">21-12 9-21 19-18</p>
                        <button type="button" class="btn btn-warning btn-sm" style="width: 100%;">Volg wedstrijd</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card mb-3 border-warning">
                    <h5 class="card-header bg-warning" style="color: white">Enkel heren C1</h5>
                    <div class="card-body">
                        <p style="text-align: center; font-weight: bold">Joran Claessens (C1)</p>
                        <p style="text-align: center; font-size: 10px;">VS</p>
                        <p style="text-align: center; font-weight: bold">Pol Biesmans (C1)</p>
                        <p style="text-align: center">21-12 9-21 19-18</p>
                        <button type="button" class="btn btn-warning btn-sm" style="width: 100%;">Volg wedstrijd</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card mb-3 border-warning" style="height: 231px;">
                    <h5 class="card-header bg-warning" style="color: white">Enkel heren C1</h5>
                    <div class="card-body">
                        <div style="line-height: 30%;">
                            <p style="text-align: center; font-weight: bold">Joran Claessens (C1)</p>
                            <p style="text-align: center; font-weight: bold;">Niels Voets (C1)</p>
                        </div>

                        <p style="text-align: center; font-size: 10px;">VS</p>
                        <div style="line-height: 30%;">
                            <p style="text-align: center; font-weight: bold">Joran Claessens (C1)</p>
                            <p style="text-align: center; font-weight: bold;">Niels Voets (C1)</p>
                        </div>
                        <p style="text-align: center">21-12 9-21 19-18</p>
                        <button type="button" class="btn btn-warning btn-sm" style="width: 100%;">Volg wedstrijd</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card mb-3 border-warning">
                    <h5 class="card-header bg-warning" style="color: white">Enkel heren C1</h5>
                    <div class="card-body">
                        <p style="text-align: center; font-weight: bold">Joran Claessens (C1)</p>
                        <p style="text-align: center; font-size: 10px;">VS</p>
                        <p style="text-align: center; font-weight: bold">Pol Biesmans (C1)</p>
                        <p style="text-align: center">21-12 9-21 19-18</p>
                        <button type="button" class="btn btn-warning btn-sm" style="width: 100%;">Volg wedstrijd</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card mb-3 border-warning">
                    <h5 class="card-header bg-warning" style="color: white">Enkel heren C1</h5>
                    <div class="card-body">
                        <p style="text-align: center; font-weight: bold">Joran Claessens (C1)</p>
                        <p style="text-align: center; font-size: 10px;">VS</p>
                        <p style="text-align: center; font-weight: bold">Pol Biesmans (C1)</p>
                        <p style="text-align: center">21-12 9-21 19-18</p>
                        <button type="button" class="btn btn-warning btn-sm" style="width: 100%;">Volg wedstrijd</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2" style="text-align: center" style="display: flex; align-items: center; justify-content: center;">
        <div class="card mb-3 border-dark">
            <h3 class="card-header">Start je eigen badmintonwedstrijd!</h3>
            <div class="card-body">
                <button type="button" class="btn btn-primary btn-lg" style="width: 100%;">Start wedstrijd</button>
            </div>
        </div>
    </div>
</div>